
.Button {
    background: var(--dark-green, #0e4f1f);
    color: white;
    font: inherit;
    border: 1.5px solid var(--dark-green);
    padding: 0.5rem;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .Button:hover,
  .Button:active {
    background: white;
    color: var(--dark-green);
  }
  
  .Button:focus {
    outline: none;
  }
  
  .Button[disabled] {
    cursor: not-allowed;
    border: #a1a1a1;
    background: #ccc;
    color: #a1a1a1;
  } 
  